@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$primary: #ff5a00;
$secundary: #945c03;
$tertiary: #fce9e2;
$dark: #1e1e1e;
$light: #fafafa;
$sm: 1.2rem;
$md: 1.6rem;
$lg: 3.2rem;
$xlg: 4.8rem;
$typo1: "Open Sans", sans-serif;

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

/*-----------------------
Configuraciones iniciales 
-----------------------*/

html {
    font-family: $typo1;
    background-color: $light;
}

/*---------
Componentes 
---------*/

.mainButton {
    @include flex(row, center, center);
    min-width: 13rem;
    height: 100%;
    padding: 1.2rem 1.6rem;
    background-color: $primary;
    color: $light;
    border-radius: 0.6rem;
    font-size: $md;

    i {
        margin-left: 1rem;
    }
}

.secondButton {
    @include flex(row, center, center);
    min-width: 13rem;
    height: 100%;
    padding: 1.2rem 1.6rem;
    background-color: $light;
    color: $primary;
    box-sizing: border-box;
    border: 0.2rem solid $primary;
    border-radius: 0.6rem;
    font-size: $md;

    i {
        margin-left: 1rem;
    }
}

/*-----
Estilos
-----*/

.header {
    @include flex(row, space-between, center);
    padding: 1rem 8rem;
    height: 10rem;

    a {
        height: 70%;

        img {
            height: 100%;
        }
    }

    nav {
        @include flex(row, center, center);
        height: 100%;

        ul {
            @include flex(row, space-around, center);
            gap: 4rem;
            font-size: $md;
        }
    }
}

.main {
    &_hero {
        background-image: url("../assets/hero.png");
        background-size: cover;
        background-position: center;
        @include flex(column, center, flex-start);
        padding: 8rem 8rem;
        gap: 3rem;

        div:nth-child(1) {
            font-size: $xlg;
            font-weight: 700;
            color: $light;
        }

        div:nth-child(2) {
            font-size: $lg;
            font-weight: 300;
            color: $light;
        }

        div:nth-child(3) {
            @include flex(row, flex-start, center);
            gap: 2rem;
        }
    }
}